.followers {



  .follower {
    border: solid 1px #000;
    margin: 0 0 15px 0;
    padding: 5px;
  }

  .follower-name {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0 15px 0;
  }

  p {
    margin: 10px 0;
  }


}
