.users {

  float: left;
  width: 30%;

  .user {
    background-color: #EEE;
    border: solid 1px #CCC;
    margin: 5px;
    padding: 10px;
  }

  .chosen {
    background-color: #000;
    color: #FFF;
  }

}
